body, html{
  height: 100%;
  width: 100%;
  background: url('background.jpg') no-repeat;
  background-size: cover;
  margin:0;

}
.big-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  color: rgb(74, 74, 74);
  font-size: 20px;
  padding: 40px;
  width: 300px;
  /*height:55%;*/
  margin-top: 10%;
  margin: auto;
  background-color: rgb(248, 246, 242);

}
.plane{
  margin-top: 0;
  font-size: 35px;
  margin-bottom: 15px;
  text-align: center;
}
.title{
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}
.sub-title{
  margin-top: 0;
  font-size: 25px;
  text-align: center;
}
.container input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(74, 74, 74);
}
.imput1{
  background-color: rgb(248, 246, 242);
  width: 45%;
}

.imput2{
  width: 60%;
  background-color: rgb(248, 246, 242);
}

.container select{
  width: 50%;
  padding: 7px;
  color: rgb(156, 27, 39);
  font-weight: bold;
}
.section2{
  margin-top: 25px;
}

.input3{
  width: 10%;
  background-color: rgb(248, 246, 242);
}
.section4{
  margin-top: 25px;
  margin-bottom: 25px;
}
.section4 select{
  width: 35%;
}
.section5{
  margin-bottom: 5px;
}
.section5 select{
  width: 35%;
}
.section6{
  margin-bottom: 10px;
}
.btn{
  color: white;
  background-color: rgb(156, 27, 39);
  border: 0;
  padding: 6px 15px;
  margin-top: 46px;
}
.section8{
  width: 100%;
  text-align: center;
}
